/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: "Comic Mono", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
